/* 
                    RESET 
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class*="my-col-"] {
    line-height: 50px;
}

 /* 
                    MAIN
 */


.blue{
    background-color:dodgerblue;
    color: white;
    border: 1px solid white;
}

.green{
    background-color: lawngreen;
    border: 1px solid dodgerblue;
}

.text{
    text-align: center;
}

.padding{
    padding: 20px;
}

.no-text{
    height: 52px;
}

.bigger{
    height: 104px;
}

.top{
    height: 50px;
    align-self: flex-start;
}

.middle{
    height: 50px;
    align-self: center;
}

.bottom{
    height: 50px;
    align-self: flex-end;
}

.flex-start{
    justify-content: flex-start;
}

.flex-center{
    justify-content: center;
}

.flex-end{
    justify-content: flex-end;
}

.space-around{
    justify-content: space-around;
}

.space-between{
    justify-content: space-between;
}
